/************************************************************

Palette:

Blue            #00aeef rgb(0,174,239)
Dark Green      #347b04 rgb(52,123,4)
Green	          #41ad49 rgb(65,173,73)
Gold            #e0b025 rgb(224,176,37)
Grey					  #939598 rgb(147,149,152)

links: #336699

font: Arial
************************************************************/


/* Guide to code: All pages are broken into 3 sections: col1, col2, and col3. Link styles for each section appear below CSS code in each of the sections. */


/*Simple Reset*/

html,
body,
banner,
img,
h1,
h2,
h3,
h4,
nav,
aside,
section,
article,
pageNav,
p,
ul,
ol,
li,
a {
	margin: 0;
	padding: 0;
	border: 0;
	text-decoration: none;
}


/********************************************************
Global Styles
********************************************************/

html {
	background: #939598
}

body {
	max-width: 1080px;
	margin: 0 auto;
}

header img {
	padding: 1em 0 2em 3em;
	max-width: 100%;
}

.container-image {
	background-image: url('/images/finished_3.png');
	background-repeat: no-repeat;
	max-width: 100%;
}

nav {
	background: #41ad49;
	font-size: 1.25em;
}

nav a {
	color: white;
}

.bannerAddress {
	padding: 5em 3em 0 0;
	font-weight: bold;
}

.phone {
	font-size: 2em;
}


/********************************************************
Body Styles
********************************************************/

blockquote {
	font-size: 1em;
	max-width: 85%;
	padding: 5% 10%;
	line-height: 2em;
}

footer {
	background: #41ad49;
	padding: 1em;
	font-size: 1em;
	color: white;
}


/********************************************************
Media Queries
********************************************************/


/*mobile styles*/

@media only screen and (max-width: 991px) {
	header img {
		padding: 0;
		margin: 0;
	}
	.bannerAddress {
		text-align: left;
		padding: 0 0 0 10%;
	}
}
